<mat-dialog-content class="dialog-content">
  <div class="content-container">
    <h1 class="title">Editar Estado</h1>
    <div class="form-container">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Estados</mat-label>
        <mat-select
          required
          (selectionChange)="changeStatus($event.value)"
          [(ngModel)]="selectedStatus"
        >
          <mat-option *ngFor="let status of statuses" [value]="status.nombre">
            {{ status }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="button-container">
      <button
        mat-raised-button
        color="warn"
        (click)="onNoClick()"
        class="cancel-button"
      >
        Cancelar
      </button>

      <button mat-raised-button color="primary" (click)="save()">
        Guardar
      </button>
    </div>
  </div>
</mat-dialog-content>
