<div>
  <mat-form-field appearance="outline" style="margin: 20px">
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Nombre" />
    <mat-icon matSuffix>group</mat-icon>
    <mat-hint>Cambia el nombre del usuario</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline" style="margin: 20px">
    <mat-label>Cedula</mat-label>
    <input matInput placeholder="Cedula" />
    <mat-icon matSuffix>badge</mat-icon>
    <mat-hint>Cambia la cedula del usuario</mat-hint>
  </mat-form-field>
</div>
<div>
  <button mat-raised-button color="warn">Cancelar</button>
  <button mat-raised-button color="primary">Guardar</button>
</div>
