<mat-dialog-content class="dialog-content">
  <div class="content-container">
    <h1 class="title">Editar Usuario</h1>
    <div class="form-container">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          required
          placeholder="Nombre"
          [(ngModel)]="modUser.nombre"
        />
        <mat-icon matSuffix>group</mat-icon>
        <mat-hint>Cambia el nombre del usuario</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Cedula</mat-label>
        <input
          matInput
          requiredplaceholder="Cedula"
          [(ngModel)]="modUser.cedula"
        />
        <mat-icon matSuffix>badge</mat-icon>
        <mat-hint>Cambia la cedula del usuario</mat-hint>
      </mat-form-field>
    </div>
    <div class="button-container">
      <button
        mat-raised-button
        color="warn"
        (click)="onNoClick()"
        class="cancel-button"
      >
        Cancelar
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="save()"
        [disabled]="!(modUser.nombre && modUser.cedula)"
      >
        Guardar
      </button>
    </div>
  </div>
</mat-dialog-content>
