<mat-tab-group class="main-frame">
  <mat-tab label="Tickets">
    <ng-template mat-tab-label>
      <button mat-icon-button color="primary" (click)="openNewTicketDialog()">
        <mat-icon>add</mat-icon>
      </button>
      <span>Tickets</span>
    </ng-template>

    <div class="tickets-container">
      <div class="ticket-card" *ngFor="let assignment of assignments">
        <app-ticket-card
          [assignment]="assignment"
          (ticketDeleted)="deleteTicket($event)"
        ></app-ticket-card>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Usuarios">
    <ng-template mat-tab-label>
      <button mat-icon-button color="primary" (click)="openNewUserDialog()">
        <mat-icon>add</mat-icon>
      </button>
      <span>Usuarios</span>
    </ng-template>

    <div class="user-cards-container">
      <div class="user-card" *ngFor="let user of users">
        <app-user-card [user]="user"></app-user-card>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
