<mat-card class="card">
  <ng-container *ngIf="ticketAssigned">
    <mat-card-header>
      <img mat-card-avatar [src]="profilePicture" />
      <mat-card-subtitle style="font-size: medium">{{
        assignment.user.nombre
      }}</mat-card-subtitle>
      <mat-card-subtitle style="font-size: small; font-style: oblique">
        {{ assignment.estado.nombre }}
      </mat-card-subtitle>
    </mat-card-header>
  </ng-container>

  <mat-card-content class="card-content">
    <mat-card-title style="margin: 5px 0px">{{
      assignment.ticket.descripcion
    }}</mat-card-title>
    <div style="margin: 5px 0px">
      <mat-card-subtitle class=""
        >Prioridad: {{ assignment.ticket.prioridad }}</mat-card-subtitle
      >
      <p>{{ assignment.fecha }}</p>
    </div>

    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions align="end">
    <ng-container *ngIf="ticketAssigned"
      ><button
        mat-raised-button
        style="margin: 5px"
        (click)="openUserAssignDialog()"
      >
        Asignar
      </button></ng-container
    >
    <button
      mat-raised-button
      style="margin: 5px"
      (click)="openEditTicketDialog()"
    >
      Editar
    </button>
    <button mat-raised-button style="margin: 5px" (click)="deleteTicket()">
      Eliminar
    </button>
    <button
      mat-raised-button
      style="margin: 5px"
      color="accent"
      (click)="openChangeStatusDialog()"
    >
      Modificar Estado
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar
      [mode]="progressBar.mode"
      [value]="progressBar.value"
    ></mat-progress-bar>
  </mat-card-footer>
</mat-card>
