<mat-card class="card">
  <ng-container *ngIf="ticketAssigned">
    <mat-card-header>
      <img mat-card-avatar [src]="profilePicture" />
      <mat-card-subtitle
        style="position: relative; top: 10px; font-size: medium"
        >{{ assignment.user.nombre }}</mat-card-subtitle
      >
    </mat-card-header>
  </ng-container>

  <mat-card-content class="card-content">
    <mat-card-title style="margin: 12px 0px">{{
      assignment.ticket.descripcion
    }}</mat-card-title>
    <mat-card-subtitle class=""
      >Prioridad: {{ assignment.ticket.prioridad }}</mat-card-subtitle
    >
    <p>{{ assignment.fecha }}</p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions align="end">
    <ng-container *ngIf="!ticketAssigned"
      ><button
        mat-raised-button
        style="margin: 5px"
        [disabled]="ticketAssigned"
        (click)="openUserAssignDialog()"
      >
        Asignar
      </button></ng-container
    >

    <button
      mat-raised-button
      style="margin: 5px"
      (click)="openEditTicketDialog()"
    >
      Editar
    </button>
    <button mat-raised-button style="margin: 5px" (click)="deleteTicket()">
      Eliminar
    </button>
    <button
      mat-raised-button
      style="margin: 5px"
      color="accent"
      (click)="openChangeStatusDialog()"
    >
      Modificar Estado
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar
      [mode]="progressBar.mode"
      [value]="progressBar.value"
    ></mat-progress-bar>
  </mat-card-footer>
</mat-card>
