<mat-card class="card">
  <mat-card-header>
    <div
      mat-card-avatar
      [style.background-image]="'url(' + profilePicture + ')'"
      [style.backgroun-size]="'cover'"
    ></div>
    <mat-card-title>{{ user.nombre }}</mat-card-title>
    <mat-card-subtitle>CC {{ user.cedula }}</mat-card-subtitle>
    <div class="edit-button-container">
      <button
        mat-raised-button
        class="edit-button"
        (click)="openEditUserDialog()"
      >
        Editar
      </button>
    </div>
  </mat-card-header>
</mat-card>
